body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: 55px;
}
.center {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo {
    cursor: pointer;
}
.search-box {
    display: flex;
    align-items: center;
    width: 550px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
}
.search-box input {
    flex: 1;
    width: 40%;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
}
.search {
    width: 60px;
    height:100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    border: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.search img {
    width: 22px;
}
.mic {
    border: 1px;
    border-radius: 50%;
    padding: 10px;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mic img {
    width: 24px;
}
.create {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    border: 1px;
    padding: 7px 15px;
    border-radius: 20px;
    background: #f8f8f8;
    cursor: pointer;
}
.plus {
    font-size: 35px;
    line-height: 1;
    margin-right: 3px;
}
.notify {
    cursor: pointer;
}
.user {
    cursor: pointer;
}
.logo:hover, .search:hover, .mic:hover, .create:hover, .notify:hover, .user:hover {
    background: rgb(114, 111, 111);
}
.sidebar {
    width: 75px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 28px;
    border-right: 1px;
    position: fixed;
    top: 0;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon:hover{
    background: rgb(114, 112, 112);
}
.icon img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
.icon span {
    font-size: 12px;
    color: #000;
}
.nav {
    display: flex;
    align-items: center;
    margin-left: 75px;
    padding: 10px 16px;
    gap: 14px;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}
.sub {
    padding: 6px 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
.sub:hover {
    background: rgb(131, 128, 128);
}
.videos {
    margin-left: 75px;
    margin-top: 12px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.video {
    cursor: pointer;
}
.vid {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 12px;
}
.info {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}
.image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.name {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
}
.channel, .view {
    font-size: 13px;
    margin: 0;
    line-height: 1.1;
}